In [ ]:
#pip install pymongo

In [1]:
import pymongo

In [2]:
myclient=pymongo.MongoClient('mongodb://localhost:27017')

In [3]:
myclient

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
# check list of db
myclient.list_database_names()

['admin', 'config', 'local', 'testDb']

In [5]:
db=myclient['testDb']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'testDb')

In [8]:
# check list of collection
db.list_collection_names()

['testCollection']

In [9]:
col=db['testCollection']
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'testDb'), 'testCollection')

In [12]:
mydict = { "name": "John", "address": "Highway 37" }
col.insert_one(mydict)

In [13]:
# insert multiple
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
col.insert_many(mylist)

In [14]:
# multiple with specific id
mylist2 = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
col.insert_many(mylist2)

### get documents

In [15]:
col.find_one()

{'_id': ObjectId('643e93323c5c55d768362388'),
 'name': 'John',
 'address': 'Highway 37'}

In [16]:
for i in col.find():
    print(i)

{'_id': ObjectId('643e93323c5c55d768362388'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('643e93343c5c55d768362389'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('643e93653c5c55d76836238a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('643e93653c5c55d76836238b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('643e93653c5c55d76836238c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('643e93653c5c55d76836238d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('643e93653c5c55d76836238e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('643e93653c5c55d76836238f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('643e93653c5c55d768362390'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('643e93653c5c55d768362391'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('643e93653c5c55d768362392'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('643e93653c5c55d768362393'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('643e93653c5c55d768362394'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('643e93653c5c55d768362395'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [17]:
# return specific field
for i in col.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(i)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}